### Creditintials

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/youssef/Desktop/GDG/startups-452221-a288712043d0.json"

### Load data

In [2]:
import pandas as pd
from google.cloud import bigquery

client = bigquery.Client(location="US")

query = """
SELECT * 
FROM `startups-452221.america_dataset.investment`
LIMIT 1000
"""
df = client.query(query).to_dataframe()


df = client.query(query).to_dataframe()
df.head()  # Preview the first 5 rows

ImportError: cannot import name 'bigquery' from 'google.cloud' (unknown location)

### Load data

In [6]:
import os
import pandas as pd
from google.cloud import bigquery

# Set the environment variable for Google Cloud credentials
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/youssef/Desktop/GDG/startups-452221-a288712043d0.json"

# Initialize the BigQuery client
client = bigquery.Client(location="US")

# List tables in the dataset to verify the table exists
dataset_id = "startups-452221.america_dataset"
tables = client.list_tables(dataset_id)

print("Tables in dataset:")
for table in tables:
    print(table.table_id)

# Define the query to read data from BigQuery
query = """
SELECT * 
FROM `startups-452221.america_dataset.investment`

"""

# Execute the query and load the results into a Pandas DataFrame
try:
    df = client.query(query).to_dataframe()
    # Preview the first 5 rows of the DataFrame
    print(df.head())
except Exception as e:
    print(f"An error occurred: {e}")

Tables in dataset:
investment

/home/youssef/Desktop/GDG/env/lib/python3.13/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

      status country_code         region  funding_rounds first_funding_at  \
0   acquired          USA  New York City             1.0       2012-06-30
1  operating          USA    Los Angeles             2.0       2010-06-04
2  operating          EST        Tallinn             1.0       2012-08-09
3  operating          GBR         London             1.0       2011-04-01
4  operating          USA         Dallas             2.0       2014-08-17

  last_funding_at       seed    venture  equity_crowdfunding  undisclosed  \
0      2012-06-30  1750000.0        0.0                  0.0          0.0
1      2010-09-23        0.0  4000000.0                  0.0          0.0
2      2012-08-09    40000.0        0.0                  0.0          0.0
3      2011-04-01  1500000.0        0.0                  0.0          0.0
4      2014-09-26        0.0        0.0              60000.0          0.0

   ...  secondary_market  product_crowdfunding  round_A  round_B  round_C  \
0  ...               0.0                   0.0      0.0      0.0      0.0
1  ...               0.0                   0.0      0.0      0.0      0.0
2  ...               0.0                   0.0      0.0      0.0      0.0
3  ...               0.0                   0.0      0.0      0.0      0.0
4  ...               0.0                   0.0      0.0      0.0      0.0

   round_D  round_E  round_F  round_G  round_H
0      0.0      0.0      0.0      0.0      0.0
1      0.0      0.0      0.0      0.0      0.0
2      0.0      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0      0.0
4      0.0      0.0      0.0      0.0      0.0

[5 rows x 27 columns]

In [9]:
df.head()

,status,country_code,region,funding_rounds,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,acquired,USA,New York City,1.0,2012-06-30,2012-06-30,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,operating,USA,Los Angeles,2.0,2010-06-04,2010-09-23,0.0,4000000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,operating,EST,Tallinn,1.0,2012-08-09,2012-08-09,40000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,operating,GBR,London,1.0,2011-04-01,2011-04-01,1500000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,operating,USA,Dallas,2.0,2014-08-17,2014-09-26,0.0,0.0,60000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0